@model BitirmeProjesiErp.Models.WSModel

@{
    ViewData["Title"] = "Edit";Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>WSModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WSID" />
            @*<div class="form-group">
                <label asp-for="ApiKey" class="control-label"></label>
                <input asp-for="ApiKey" class="form-control" />
                <span asp-validation-for="ApiKey" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sifre" class="control-label"></label>
                <input asp-for="Sifre" class="form-control" />
                <span asp-validation-for="Sifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SunucuAdi" class="control-label"></label>
                <input asp-for="SunucuAdi" class="form-control" />
                <span asp-validation-for="SunucuAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sube" class="control-label"></label>
                <input asp-for="Sube" class="form-control" />
                <span asp-validation-for="Sube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Depo" class="control-label"></label>
                <input asp-for="Depo" class="form-control" />
                <span asp-validation-for="Depo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirmaKod" class="control-label"></label>
                <input asp-for="FirmaKod" class="form-control" />
                <span asp-validation-for="FirmaKod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonemKod" class="control-label"></label>
                <input asp-for="DonemKod" class="form-control" />
                <span asp-validation-for="DonemKod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <form enctype="multipart/form-data" method="post" asp-controller="WS" asp-action="Excell">
    
        
            <label>Excel:</label>
        
        
            <input type="file" name="FormFile" id="FormFile">

            <select name='tablo' >
                <option asp-route-tablo=1 value=1 >K-1</option>
                <option asp-route-tablo=2 value=2 >K-5</option>
                <option asp-route-tablo=3 value=3 >S-1 KUTU PRF.</option>
                <option asp-route-tablo=4 value=4 >S-1 ALM. PRF.</option>
                <option asp-route-tablo=5 value=5 >S-5 KUTU PRF.</option>
                <option asp-route-tablo=6 value=6 >S-5 ALM. PRF.</option>

            </select>
    
    <input  class="btn btn-warning" type="submit" value="Upload" />
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
